<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron">
        <h1>Here are you user:</h1>

        <form method="POST">
            {{ form.as_p }} <!--as_p = <p>-->
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" name="" value="Submit">
        </form>
    
        <form action="user">
            <input type="submit" value="Go to User"/>
        </form>
    </div>

</body>
</html>